<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.urbancode.com/PluginXMLSchema_v1"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- http://www-01.ibm.com/support/knowledgecenter/SS4GSP_6.2.0/com.ibm.udeploy.reference.doc/topics/ref_create_header.html -->
  <header>
    <identifier id="@pluginId@" version="@pluginVersion@" name="@pluginName@"/>
    <description>@pluginDescription@</description>
    <tag>@pluginTag@</tag>
    <!--
    Optional Items
    <server:required-server-version>6.0.1.0</server:required-server-version>
    <server:dependencies>
      <server:dependency plugin-id="com.urbancode.air.plugin.WebSphere" min-version="76"/>
    </server:dependencies>
    -->
  </header>

  <!-- Define each Step the plugin with define -->
  <step-type name="Test Connect to Port">
    <description>
      Attempts to connect to a specific port, used to see if it is currently in use. (i.e. your application is still running). Success of the Step means the port is listening, Failure means the port is not currently listening.
    </description>
    <!--
     Define what we will prompt the user for.
    -->
    <properties>
      <property name="host" required="true">
         <property-ui type="textBox"
             label="Hostname"
             description="Hostname of the machine to connect to."
             default-value="localhost"
             hidden="false" />
      </property>

      <property name="port" required="true">
        <property-ui type="textBox"
          label="port"
          description="The port used to connect."
          default-value=""
          hidden="false"/>
      </property>

    <!-- Define some hidden properties
     Also specify a default value
    -->
<!--
      <property name="type" required="false">
        <property-ui type="textAreaBox"
          label="Token"
          description="Use a token instead of a pasword"
          default-value="${property:resource/token}"
          hidden="true"/>
      </property>
-->
    </properties>

    <!--
     Specify the Javascript to be used to process any command output to identify a Success of Falure status return from this step. The behavior below is based on a standard Unix style exit code, if the script/program you are calling out to does not generate and exitCode you will need to perform more inspection to determin status.
    -->
    <post-processing>
      <![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put("Status", "Failure");
        }
        else {
            properties.put("Status", "Success");
        }
     ]]>
    </post-processing>
    <!--
     The command to run.
    -->
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg file="runner.groovy"/>
      <arg file="port_check.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  <!--
  <step-type name="step2">
   ...
  </step-type>
  -->
</plugin>
